<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${topic.topicName}"></title>
    <!-- CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    
    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    
    <!-- Our CSS -->
    <link rel="stylesheet" href="../styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/js/board-content.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/js/topic-content.js}"></script>
</head>
<body>
    <div class="container">
        <div class="justify-content-center">
            <header th:insert="header-poster::header-poster" />
            <div th:insert="login-header::login-header"/>
            <a class="mt-2 ml-1 btn btn-danger" th:href="@{/board/{id}(id=${topic.board.id})}" th:text="${'Back to ' + topic.board.name}"></a>
            <div class="jumbotron font-red">
                <div class="row" th:object="${topic}">
                    <div class="col-sm topic-header">
                        <h2 class="display-4 font-weight-bold" th:text="${topic.topicName}"/>
                        <p class="mb-3">Created by <a th:href="@{/user/{id}(id=${topic.user.id})}" th:text="${topic.user.username}"/></p>
                        <p class="lead" th:text="${topic.topicContent}"/>
                        <p class="m-0" th:text="${'Total points: ' + topic.topicPoints}"/>
                    </div>
                </div>
                <div class="row" th:if="${session.loggedinuser}">
                    <form class="form mt-2 mr-1 ml-2" th:action="@{|/topic/${topic.id}|}" th:object="${topic}" th:if="${topic.user.username != session.loggedinuser.username}" th:method="post">
                        <button class="mt-2 btn btn-success" style="height: 48px; width: 48px;" th:type="submit" th:name="action" th:value="upvote">&uarr;	</button>
                        <button class="mt-2 btn btn-danger" style="height: 48px; width: 48px;" th:type="submit" th:name="action" th:value="downvote">&darr;	</button>
                    </form>
                    <div class="mt-2 col" th:if="${topic.user.username == session.loggedinuser.username} OR ${session.loggedinuser.role == 'ADMIN'}">
                        
                        <a th:class="'btn btn-warning btn-lg ' + edit-topic" th:id="|edit-${topic.id}|" th:href="@{|/topic/${topic.id}/edit|}">edit</a>
                        <a class="btn btn-danger btn-lg" th:href="@{|/topic/${topic.id}/delete|}">delete</a>
                    </div>
                </div>
            </div>
            <div class="jumbotron">
                <div class="justify-content-center" th:object="${comments}">
                    <div class="jumbotron" th:each="comment : ${comments}">
                        <div>
                            <a th:href="@{/user/{id}(id=${comment.user.id})}" th:text="${comment.user.username}"/>
                            <p th:id="|ct-${comment.id}|" th:text="${comment.commentText}"/>
                            <p th:text="${'Created at ' + comment.getCommentCreatedDate()}"/>
                        </div>
                        <div th:if="${session.loggedinuser}">
                            <div th:if="${comment.user.username == session.loggedinuser.username} OR ${session.loggedinuser.role == 'ADMIN'}">
                                <div class="edit-text-area" th:id="|eta-${comment.id}|" th:insert="edit-comment::edit-comment"/>
                                <a class="btn btn-warning edit-comment" th:href="|#${comment.id}|" th:id="|ec-${comment.id}|">edit</a>
                                <a class="btn btn-danger delete-comment" th:href="@{deletecomment/{id}(id=${comment.id})}" th:id="|d-${comment.id}|">delete</a>
                            </div>
                        </div>
                    </div>
                    <div th:if="${session.loggedinuser != null}">
                        <div th:id="add-comment-box" th:insert="add-comment::add-comment"/>
                        <a class="btn btn-primary" th:id="add-comment-text" href="#">comment</a>
                    </div>
                    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
                    <script th:src="@{/js/topic-content.js}"></script>
                </div>
                
            </div>
        </div>
    </body>
</html>