.boardlist {
    background-color: white;
    border: solid;
}

.boards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}

.boards h2 {
    color: #bd1f1f ;
}

.board__card {
    border: 2px solid;
    border-radius: 5px;
    margin: 8px auto;
    padding: 5px;
    max-height: 800px;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

.board__card a {
    text-decoration: underline;
    text-decoration-color: #ffd001;
    border-bottom: #ffd001 solid;
    font-weight: bold;
    font-size: 24px;
    color: #bd1f1f;


}

.board__card hr {
    
}