.font-red {
    color: #bd1f1f;
}

.card-heading {
    text-decoration: underline #ffd001;
    text-decoration-color: #ffd001;
    color: #bd1f1f;

}

.font-blue {
    color: #4061bf;
}

.font-yellow {

}

.back-red {
    background-color: #bd1f1f;
}

.back-blue {
    background-color: #4061bf;
}

.back-yellow {

}

