header {
    margin: 10px 0;
    background-color: white;
    border: solid;
}

.hero {
    display: flex;
    align-items: center;
    color: #bd1f1f;
    background-color: transparent;

    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}

.hero h1 {
    margin: 0;
    height: 85px;
    font-size: 100px;
    font-weight: bold;
}

.hero p {
    margin: 0;
    height: 10px;
    font-size: 50px;
}

.hero__logo {
    width: 350px;
    height: 300px;
    background-image: url("../viktor_nobg.png");
    background-size: cover;
}